<section class="venha-fazer-parte">
  <img src="./../../../../assets/images/banners/fotos-profissionais.png" alt="fotos pessoas">
  
  <div class="venha-fazer-parte-wrapper">
    <ion-grid [fixed]="true">
      <ion-row>
        <!-- CONTEÚDO -->
        <ion-col size="12" size-md="6">
          <div class="venha-fazer-parte-content">
            <ion-text mode="ios">
              <p class="text-white fs-30 titulo text-uppercase">
                <b>Venha fazer parte <br> do nosso time</b>
              </p>
            </ion-text>

            <ul>
              <li>
                <div class="item-da-lista">
                  <img src="./../../../../assets/images/backgrounds/checkmark.png" alt="seta">
                  <p class="text-white fs-18">Orçamentos de serviços em tempo integral</p>
                </div>
              </li>

              <li>
                <div class="item-da-lista">
                  <img src="./../../../../assets/images/backgrounds/checkmark.png" alt="seta">
                  <p class="text-white fs-18">Faça seu horário</p>
                </div>
              </li>

              <li>
                <div class="item-da-lista">
                  <img src="./../../../../assets/images/backgrounds/checkmark.png" alt="seta">
                  <p class="text-white fs-18">Receba por serviço ou por semana</p>
                </div>
              </li>

              <li>
                <div class="item-da-lista">
                  <img src="./../../../../assets/images/backgrounds/checkmark.png" alt="seta">
                  <p class="text-white fs-18">+100 clientes diariamente</p>
                </div>
              </li>
            </ul>

            <ion-button
            class="solid-yellow-text-white ion-no-text-transform cadastrar-btn"
            size="large"
            title="Quero cadastrar meus serviços"
            mode="md">
              <b>Quero cadastrar meus serviços</b>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</section>