<section class="cadastrar-servicos">
  <div class="cadastrar-servicos-wrapper">
    <ion-grid [fixed]="true">
      <ion-row>
        <!-- FOTOS -->
        <ion-col size="12" size-md="6">
          <div class="cadastrar-servicos-fotos">
            <img
            title="Pessoas"
            src="./../../../../assets/images/banners/fotos-pessoas.png"
            alt="fotos pessoas">
          </div>
        </ion-col>

        <!-- CONTEÚDO -->
        <ion-col size="12" size-md="6">
          <div class="cadastrar-servicos-content">
            <p class="text-white fs-16 mg-bt-8 cadastrar-texto">
              <b>Venha fazer parte desse time que só cresce</b>
            </p>

            <ion-button
            class="solid-white-text-orange ion-no-text-transform fs-22 cadastrar-btn"
            size="large"
            title="Quero cadastrar meus serviços"
            mode="md">
              <b>Quero cadastrar meus serviços</b>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</section>