section.hero {
  height: calc(100vh - 87px);
  background: #fac401;

  .hero-swiper-wrapper,
  .hero-content-wrapper,
  .hero-search-wrapper {
    height: 100%;
  }

  .titulo {
    font-weight: normal;
  }

  .hero-swiper-wrapper {
    .hero-swiper {
      height: 100%;

      &::part(button-next),
      &::part(button-prev) {
        z-index: 999 !important;
        border-radius: 100px;
        width: 70px;
        height: 70px;
        color: transparent;
        background: url('./../../../../assets/images/backgrounds/seta-direita.png') no-repeat center center;
        background-size: cover;
        opacity: 1;

        @media only screen and (max-width: 573px) {
          width: 42px;
          height: 42px;
        }

        @media only screen and (min-width: 767px) {
          width: 60px;
          height: 60px;
        }
      }

      &::part(button-prev) {
        transform: rotate(180deg);
      }

      
      @for $i from 0 through 4 {
        .background-wrapper {
          width: 100%;
          height: 100%;
          overflow: hidden;

          .slide-background-#{$i} {
            width: 100%;
            height: 100%;
            background: url('./../../../../assets/images/backgrounds/slide-' + #{$i} + '.png') no-repeat center center;
            background-size: cover;
            position: relative;
            transform: scale(1.2);
            background-position: center 50px;
            z-index: -1;
            
            /**
            &::after {
              content: '';
              width: 100%;
              height: 100%;
              background: linear-gradient(to right, rgba(255, 255, 255, 1), transparent 60%);
              position: fixed;
              left: 0;
              top: 0;
              z-index: 100;
              pointer-events: none;
            } **/
          }
        }
      }
    }
  }

  .hero-search-wrapper {
    width: 100%;
    height: 100%;
    z-index: 500;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .padding-lateral {
      padding: 0 32px;

      @media only screen and (max-width: 573px) {
        padding: 0 52px;
      }
    }

    & * {
      pointer-events: all;
    }

    .buscas-frequentes {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      padding: 16px 0;
      
      ion-text {
        margin-right: 5px;
        margin-bottom: 6px;
      }

      .mais-buscados {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;

        ion-chip {
          flex: none;
        }
      }
    }
  }
}