:root {
  --stroke: #001D3D;
  --dark-blue: #001D3D;
  --text: #001D3D;
  --white: #FFFFFF;
  --light-gray: #FBF9F7;
  --yellow: #EE9B00;
  --yellow-light: #FEC456;
  --yellow-middle: #FFCB12;
  --gray: #777;
  --orange: #E36414;
  --online: #33FF00;
  --gray-solid: #DBD9D8;
  --gray-bg: #FCF9F7;
  --danger: #eb445a;
  --black: #000;

  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;
}
