<ion-content
[fullscreen]="true">
  <section class="criar-conta">
    <div class="criar-conta-imagem ion-hide-md-down">
      <img
      class="Background"
      src="./../../../../assets/images/backgrounds/login.png"
      alt="imagem">
    </div>

    <div class="criar-conta-form-wrapper">
      <ion-content
      class="ion-bg-transparent"
      [forceOverscroll]="false">
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col size="12">
              <ion-text>
                <h2 class="titulo text-white fs-35"><b>Entre na sua conta</b></h2>
              </ion-text>
  
              <form
              class="grupo-de-inputs"
              [formGroup]="formularioDeCadastro">
                <ion-input
                [formControlName]="'email'"
                type="email"
                inputmode="text"
                placeholder="Digite seu e-mail"
                mode="ios"
                class="cs-default-input">
                </ion-input>
  
                <ion-input
                [formControlName]="'senha'"
                type="text"
                inputmode="text"
                placeholder="Digite sua senha"
                mode="ios"
                class="cs-default-input">
                </ion-input>
              </form>
            </ion-col>
  
            <ion-col size="12" size-lg="6">
              <ion-button
              title="Criar"
              size="lg"
              mode="md"
              class="criar-conta solid-white-text-black fs-14 fw-normal w-100">
                <img
                class="mg-right-6"
                title="Entrar com apple"
                src="./../../../../assets/images/icones/google.png"
                alt="google"> 
                Entrar com login
              </ion-button>
            </ion-col>
  
            <ion-col size="12" size-lg="6">
              <ion-button
              title="Criar"
              size="lg"
              mode="md"
              class="criar-conta solid-white-text-black fs-14 fw-normal w-100">
                <img
                class="mg-right-6"
                title="Entrar com apple"
                src="./../../../../assets/images/icones/apple.png"
                alt="apple">
                Entrar com apple
              </ion-button>
            </ion-col>
  
            <ion-col size="12" class="ion-text-end">
              <ion-button
              [disabled]="formularioDeCadastro.invalid"
              title="Criar"
              size="lg"
              mode="md"
              class="criar-conta solid-black-text-white fs-16">
                Criar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </div>
  </section>
</ion-content>
