section {
  &.criar-conta {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .criar-conta-imagem {
      background: var(--yellow-light);
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
    }

    .criar-conta-form-wrapper {
      background: var(--orange);
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 32px;

      .grupo-de-inputs {
        margin: 32px 0;

        ion-input:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
  }
}