ion-searchbar {
  --box-shadow: none;
  margin: 0;
  padding: 0;
  border-left: 1px solid #EE9B00;
  border-top: 1px solid #EE9B00;
  border-bottom: 1px solid #EE9B00;
  --color: var(--text);
  --height: 42px;
}

ion-button {
  height: auto;
  --border-radius: 0;
  --min-height: 0;
  margin: 0;
  --background: var(--orange);
  border-left: 1px solid var(--orange);
  border-top: 1px solid var(--orange);
  border-bottom: 1px solid var(--orange);
  width: 80px;
  min-width: 80px;
  height: 44px;

  ion-spinner {
    margin: 0;
  }
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}