<ion-content
#servico
[fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row>
      <!-- SOMENTE MOBILE -->
      <ion-col size="12" class="ion-hide-lg-up">
        <kg-buscar></kg-buscar>
      </ion-col>

      <ion-col size="12" size-lg="6">
        <ion-breadcrumbs [maxItems]="3">
          <ion-breadcrumb href="#home"><ion-icon name="home"></ion-icon></ion-breadcrumb>
          <ion-breadcrumb href="#electronics">Pinturas em geral</ion-breadcrumb>
          <ion-breadcrumb>@user</ion-breadcrumb>
        </ion-breadcrumbs>
      </ion-col>

      <!-- A PARTIR DE TELAS GRANDES -->
      <ion-col size="6" size-lg="6" class="ion-hide-lg-down">
        <kg-buscar></kg-buscar>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-col size="12" size-md="7">
        <div class="profissional-header">
          <kg-avatar
          [abrirMenuAoClicar]="false"
          [corDaBorda]="'yellow-border'"
          [usuarioLogado]="true"
          [arrobaDoUsuario]="'@' + informacoesDoUser.username"
          [urlDaFoto]="informacoesDoUser.urlDaFoto"/>

          <ion-text mode="ios">
            <p class="text-gray fs-18">Nome do usuário</p>
            <p class="text-light-gray fs-14">Profissão</p>
            <p class="text-light-gray fs-12 mg-top-5">@{{ informacoesDoUser.username }}</p>
          </ion-text>

          <div class="avaliacao-e-preco">
            <ion-text mode="ios" class="ion-text-end">
              <p class="avaliacao">
                <ion-icon name="star"></ion-icon>
                <b class="fs-14">{{ informacoesDoUser.avaliacao }}</b>
                <span class="fs-11 text-gray">({{ informacoesDoUser.avaliacoesRecebidas }})</span>
              </p>

              <p class="text-gray fs-16 mg-top-5"><b>a partir de {{ informacoesDoUser.valorInicial }} {{ informacoesDoUser.servicoCobrado }}</b></p>
            </ion-text>
          </div>
        </div>

        <div class="profissional-swiper-wrapper">
          <swiper-container
          [allowTouchMove]="false"
          [centeredSlides]="true"
          [spaceBetween]="0"
          [slidesPerView]="1"
          class="profissional-swiper"
          #profissionalSwiper
          (afterinit)="inicializarSwipers()">
            <swiper-slide *ngFor="let imagem of informacoesDoUser.galeria; let i = index;">
              <div class="swiper-banner">
                <img [src]="imagem.url" alt="">
              </div>
            </swiper-slide>
          </swiper-container>

          <swiper-container
          [centeredSlides]="true"
          [spaceBetween]="0"
          [navigation]="true"
          [slidesPerView]="2"
          class="profissional-swiper"
          #profissionalSwiper
          [breakpoints]="{
            '576': {
              slidesPerView: '2',
              centeredSlides: true
            },
            '767': {
              slidesPerView: '3',
              centeredSlides: false
            },
            '991': {
              slidesPerView: '3.4',
              centeredSlides: false
            },
            '1200': {
              slidesPerView: '4',
              centeredSlides: false
            }
          }"
          (afterinit)="inicializarSwipers()">
            <swiper-slide
            *ngFor="let imagem of informacoesDoUser.galeria; let i = index;">
              <div
              [ngClass]="{ 'ativo': slideSelecionado === i}"
              class="swiper-banner-thumbs"
              (click)="slideSwiper(i); definirSlideAtivo(i)">
                <img [src]="imagem.url" alt="">
              </div>
            </swiper-slide>
          </swiper-container>
        </div>
      </ion-col>

      <ion-col size="12" size-md="5">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
