<ion-content
[fullscreen]="true">
  <section class="nome-de-usuario">
    <div class="nome-de-usuario-imagem ion-hide-md-down">
      <img
      class="Background"
      src="./../../../../assets/images/backgrounds/login.png"
      alt="imagem">
    </div>

    <div class="nome-de-usuario-form-wrapper">
      <ion-content
      class="ion-bg-transparent"
      [forceOverscroll]="false">
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col size="12">
              <ion-text>
                <h2 class="titulo text-white fs-35"><b>Escolha seu nome de usuário</b></h2>
              </ion-text>
  
              <form
              class="grupo-de-inputs"
              [formGroup]="formularioUsuario">
                <ion-input
                [formControlName]="'nomeDeUsuario'"
                type="text"
                inputmode="text"
                placeholder="Digite seu usuário"
                mode="ios"
                class="cs-default-input">
                </ion-input>
              </form>
            </ion-col>
  
            <ion-col size="12" class="ion-text-end">
              <ion-button
              [disabled]="formularioUsuario.invalid"
              title="Criar"
              size="lg"
              mode="md"
              class="criar-conta solid-yellow-text-white fs-16">
                Criar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </div>
  </section>
</ion-content>
