<div class="card-wrapper">
  <div class="avaliacao-wrapper">
    <span class="avaliacao">
      <ion-icon name="star"></ion-icon>

      <ion-text mode="ios">
        <p><b>4.2</b></p>
      </ion-text>
    </span>
  </div>

  <ion-card mode="ios">
    <ion-card-content>
      <div class="conteudo">
        <img src="./../../../../assets/images/pintura/pintura (1).png" alt="">
      </div>
    </ion-card-content>
  
    <ion-card-footer>
      <div class="footer">
        <div class="footer-top">
          <ion-text mode="ios" class="text-black fs-16">
            @user
          </ion-text>
    
          <ion-button
          fill="clear">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
        </div>
  
        <div class="footer-content">
          <ion-text mode="ios" class="fs-14">
            <p>Breve descrição dos serviços ofercidos</p>
          </ion-text>
        </div>
  
        <div class="footer-bottom">
          <ion-text mode="ios">
            <p class="text-black fs-14 ion-text-end">a partir de R$25</p>
          </ion-text>
        </div>
      </div>
    </ion-card-footer>
  </ion-card>
</div>